*.scrollBar: false
*.cursorBlink: 1
*.color0: #771122
*.color1: #55aabb
*.color2: #224444
*.color3: #ccffff
*.color4: #337777
*.color5: #77cc99
*.color6: #aaee99
*.color7: #779966
*.color8: #556644
*.color9: #bbbb66
*.color10: #ffee77
*.color11: #ff8833
*.color12: #dd4422
*.color13: #882211
*.color14: #774444
*.color15: #442222

*.background: #001122
*.foreground: #77cc99
*.depth: 32

Xft.dpi: 90

URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt*font:	xft:Ubuntu Mono Bold 8
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard
