! == color scheme ==
*.font: Hack 18 Bold
*.background: #27144D
*.foreground: #66eeff
*.color0: #ffee77
*.color1: #aaffff
*.color2: #ff9966
*.color3: #66eeff
*.color4: #cc6655
*.color5: #66aaff
*.color6: #bb99cc
*.color7: #4477cc
*.color8: #806e69
*.color9: #a072c8
*.color10: #9983c8
*.color11: #8592c8
*.color12: #9fabca
*.color13: #e0b467
*.color14: #59bde0
*.color15: #a3dee0
*.depth: 32

! Xft
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! URxvt
URxvt.font:	 xft:Hack:Bold:size=12
URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.cursorBlink: 1

! rofi
rofi.font: Hack Bold 12
rofi.padding: 15
rofi.opacity: 90
rofi.width: 20
rofi.color-enabled: true
! State:				background, 		foreground,  	background alt,	background sel,	foreground sel	
rofi.color-normal: 		argb:027144d, 		#bb99cc, 	argb:027144d, 		argb:027144d, 		#66eeff
rofi.color-active: 		argb:027144d, 		#4477cc, 	argb:027144d, 		argb:027144d, 		#58cbf8
rofi.color-urgent: 		argb:027144d, 		#cc6655, 	argb:027144d, 		argb:027144d, 		#ffee77
!				background, 		border,	border
rofi.color-window:   		argb:d027144d, 	#332244, 	#332244
