! == Define Font == !
#define FNT Hack
#define STYL
#define SIZ 10

! == Set Params == !
*.font: FNT STYL SIZ
i3bar.height: 20

! == Color Scheme == !
#define xbackground #000022
#define xforeground #bb2244
#define xcolor0 #ffaa55
#define xcolor1 #ff3388
#define xcolor2 #771144
#define xcolor3 #aa2288
#define xcolor4 #ff33dd
#define xcolor5 #bb55bb
#define xcolor6 #331144
#define xcolor7 #663388
#define xcolor8 #7722dd
#define xcolor9 #9988cc
#define xcolor10 #111177
#define xcolor11 #1122dd
#define xcolor12 #3344aa
#define xcolor13 #3388dd
#define xcolor14 #00dddd
#define xcolor15 #ffee66

 *.background: xbackground
 *.foreground: xforeground
 *.color0: xcolor0
 *.color1: xcolor1
 *.color2: xcolor2
 *.color3: xcolor3
 *.color4: xcolor4
 *.color5: xcolor5
 *.color6: xcolor6
 *.color7: xcolor7
 *.color8: xcolor8
 *.color9: xcolor9
 *.color10: xcolor10
 *.color11: xcolor11
 *.color12: xcolor12
 *.color13: xcolor13
 *.color14: xcolor14
 *.color15: xcolor15
*.depth: 32

! == Xft == !
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! == URxvt == !
URxvt.font:	 xft:FNT:size=SIZ
URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.cursorBlink: 1
URxvt.internalBorder:  20


! == Rofi == !
rofi.padding: 20
rofi.width: 20
rofi.bw: 1
rofi.location: 3
rofi.xoffset: -18 
rofi.yoffset: 45
rofi.opacity: 90
rofi.fullscreen: false
rofi.color-enabled: true
rofi.separator-style: dashed
rofi.color-window: xbackground, xcolor3, xcolor2
rofi.color-normal: xbackground, xforeground, xbackground, xbackground, xcolor5
rofi.color-active: xbackground, xcolor1, xbackground xbackground, xcolor0
rofi.color-urgent: xbackground, xcolor4, xbackground, xbackground, xcolor0
