! == Define Font == !
#define FNT Dina
#define STYL
#define SIZ 10

! == Set Params == !
*.font: FNT STYL SIZ
i3bar.height: 20

! == Color Scheme == !
#define xbackground #1a1a1a
#define xforeground #ecf0f1
#define xcolor0 #1a1a1a
#define xcolor1 #ecf0f1
#define xcolor2 #3498db
#define xcolor3 #2ecc71
#define xcolor4 #f1c40f
#define xcolor5 #e67e22
#define xcolor6 #e74c3c
#define xcolor7 #6a6fc0
#define xcolor8 #606060
#define xcolor9 #6a6fc0
#define xcolor10 #80a2fe
#define xcolor11 #d196c0
#define xcolor12 #ed9cb2
#define xcolor13 #7bd7dc
#define xcolor14 #52cbfe
#define xcolor15 #6fc6fe

 *.background: xbackground
 *.foreground: xforeground
 *.color0: xcolor0
 *.color1: xcolor1
 *.color2: xcolor2
 *.color3: xcolor3
 *.color4: xcolor4
 *.color5: xcolor5
 *.color6: xcolor6
 *.color7: xcolor7
 *.color8: xcolor8
 *.color9: xcolor9
 *.color10: xcolor10
 *.color11: xcolor11
 *.color12: xcolor12
 *.color13: xcolor13
 *.color14: xcolor14
 *.color15: xcolor15
*.depth: 32

! == Xft == !
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! == URxvt == !
URxvt.font:	 xft:FNT:size=SIZ
URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.cursorBlink: 1
URxvt.internalBorder: 10
URxvt.depth: 32
URxvt.cursorUnderline: true
URxvt.cursorColor: color6

! == Rofi == !
rofi.padding: 10
rofi.width: 25
rofi.bw: 1
rofi.location: 6
!rofi.xoffset: 0
rofi.yoffset: -50
rofi.font: FNT STYL SIZ
rofi.auto-select: true
rofi.opacity: 90
rofi.fullscreen: false
rofi.color-enabled: true
rofi.separator-style: dashed
rofi.color-window: xbackground, xcolor1, xbackground
rofi.color-normal: xbackground, xforeground, xbackground, xbackground, xcolor5
rofi.color-active: xbackground, xcolor8, xbackground, xbackground, xcolor5
rofi.color-urgent: xbackground, xcolor0, xbackground, xbackground, xcolor15
