! == Define Font == !
#define FNT Dina
#define STYL
#define SIZ 10

! == Set Params == !
*.font: FNT STYL SIZ
i3bar.height: 20

! == Color Scheme == !
#define xbackground #111133
#define xforeground #447755
#define xcolor0 #447755
#define xcolor1 #6629a0
#define xcolor2 #527da0
#define xcolor3 #a03777
#define xcolor4 #a0415c
#define xcolor5 #a062a0
#define xcolor6 #69a090
#define xcolor7 #a0465d
#define xcolor8 #8f4245
#define xcolor9 #88c890
#define xcolor10 #c86658
#define xcolor11 #a6c881
#define xcolor12 #c87f56
#define xcolor13 #d79154
#define xcolor14 #c8c076
#define xcolor15 #e0a85c

 *.background: xbackground
 *.foreground: xforeground
 *.color0: xcolor0
 *.color1: xcolor1
 *.color2: xcolor2
 *.color3: xcolor3
 *.color4: xcolor4
 *.color5: xcolor5
 *.color6: xcolor6
 *.color7: xcolor7
 *.color8: xcolor8
 *.color9: xcolor9
 *.color10: xcolor10
 *.color11: xcolor11
 *.color12: xcolor12
 *.color13: xcolor13
 *.color14: xcolor14
 *.color15: xcolor15
*.depth: 32

! == Xft == !
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! == URxvt == !
URxvt.font:	 xft:FNT:size=SIZ
URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.cursorBlink: 1
URxvt.internalBorder: 10
URxvt.depth: 32
URxvt.background: rgba:1111/1111/3333/CCCC
URxvt.cursorUnderline: true
URxvt.cursorColor: color5

! == Rofi == !
rofi.padding: 10
rofi.width: 25
rofi.bw: 1
rofi.location: 6
!rofi.xoffset: 0
rofi.yoffset: -50
rofi.font: FNT STYL SIZ
rofi.auto-select: true
rofi.opacity: 90
rofi.fullscreen: false
rofi.color-enabled: true
rofi.separator-style: dashed
rofi.color-window: xbackground, xcolor1, xbackground
rofi.color-normal: xbackground, xforeground, xbackground, xbackground, xcolor5
rofi.color-active: xbackground, xcolor8, xbackground, xbackground, xcolor5
rofi.color-urgent: xbackground, xcolor0, xbackground, xbackground, xcolor15
